BODY { background-color: #FFFFFF }

OL,UL,P,BODY,TD,TR,TH,FORM { font-family: verdana,arial,helvetica,sans-serif; font-size:small; color: #333333; }

H1 { font-family: verdana,arial,helvetica,sans-serif; }
H2 { font-family: verdana,arial,helvetica,sans-serif; }
H3 { font-family: verdana,arial,helvetica,sans-serif; }
H4 { font-family: verdana,arial,helvetica,sans-serif; }
H5 { font-family: verdana,arial,helvetica,sans-serif; }
H6 { font-family: verdana,arial,helvetica,sans-serif; }

PRE,TT { font-family: courier,sans-serif }

A { text-decoration: none; color: #6666FF; }
A:visited { text-decoration: none; color: #6666AA; }
A:link { text-decoration: none; color: #6666AA; }
A:active { text-decoration: none; color: #6666AA; }
A:hover { text-decoration: underline; color: #FF6666 }

A.menubar { color: #FFFFFFM; font-weight: bold }
A.menubar:visited { color: #FFFFFF; font-weight: bold }

A.menus { color: #000000; text-decoration: none; }
A.hover { color: #000000; text-decoration: none; underline; }
A.menus:visited { color: #000000; text-decoration: none; }

SPAN.alignright { text-align: right }
SPAN.maintitlebar { font-size: small; color: #FFFFFF }
SPAN.titlebar { text-align: center; font-size: small; color: #FFFFFF; font-weight: bold }
SPAN.center { text-align: center }
SPAN.boxspace { font-size: 2pt; }

TH { text-align: left; }

TD.small { font-size: smaller; }
